<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0"
    />
    <title>결제</title>
    <script src="https://api.payster.co.kr/js/pgAsistant.js"></script>
    <style></style>
  </head>
  <body>
    <script type="text/javascript">
      function doPaySubmit() {
        // 결제창 호출 함수
        SendPay(document.payInit);
      }
      // 결제창 return 함수(pay_result_submit 이름 변경 불가능)
      function pay_result_submit() {
        payResultSubmit();
      }
      // 결제창 종료 함수(pay_result_close 이름 변경 불가능)
      function pay_result_close() {
        alert("결제를 취소하였습니다.");
      }

      // 페이지가 로드된 후 1초 뒤에 doPaySubmit 호출
      window.onload = function () {
        setTimeout(doPaySubmit, 1000); // 1000ms = 1초
      };
    </script>
    <div style="text-align: center" onload="doPaySubmit()">
      <div
        id="sampleInput"
        class="paypop_con"
        style="padding: 20px 15px 35px 15px; display: none; float: inherit"
      >
        <p class="square_tit mt0" style="text-align: left">
          <strong>결제정보</strong>
        </p>
        <form name="payInit" method="post" action="<%= returnUrl %>">
          <table class="tbl_sty02">
            <tr>
              <td>결제수단(card,vacnt,all(공백)</td>
              <td><input type="text" name="payMethod" value="" /></td>
            </tr>
            <tr>
              <td>결제방법선택</td>
              <td>
                <input type="text" name="mid" value="<%= merchantID %>" />
              </td>
            </tr>
            <tr>
              <td>상품명</td>
              <td>
                <input type="text" name="goodsNm" value="<%= goodsNm %>" />
              </td>
            </tr>
            <tr>
              <td>주문번호</td>
              <td><input type="text" name="ordNo" value="<%= ordNo %>" /></td>
            </tr>
            <tr>
              <td>결제금액</td>
              <td>
                <input type="text" name="goodsAmt" value="<%= goodsAmt %>" />
              </td>
            </tr>
            <tr>
              <td>구매자명</td>
              <td><input type="text" name="ordNm" value="<%= ordNm %>" /></td>
            </tr>
            <tr>
              <td>구매자연락처</td>
              <td><input type="text" name="ordTel" value="<%= ordTel %>" /></td>
            </tr>
            <tr>
              <td>returnUrl</td>
              <td>
                <input type="text" name="returnUrl" value="<%= returnUrl %>" />
              </td>
            </tr>
            <tr>
              <td>notiUrl</td>
              <td><input type="text" name="notiUrl" value="" /></td>
            </tr>
          </table>
          <!-- 옵션 -->
          <input type="hidden" name="userIp" value="127.0.0.1" />
          <input type="hidden" name="trxCd" value="0" />
          <input type="hidden" name="mbsUsrId" value="user1234" />
          <input
            type="hidden"
            name="mbsReserved"
            value="MallReserved"
          /><!-- 상점 예약필드 -->
          <!-- <input type="hidden" name="goodsSplAmt" value="0"> -->
          <!-- <input type="hidden" name="goodsVat" value="0"> -->
          <!-- <input type="hidden" name="goodsSvsAmt" value="0"> -->
          <input type="hidden" name="charSet" value="UTF-8" />
          <!-- <input type="hidden" name="period" value="별도 제공기간없음"> -->
          <!-- 변경 불가능 -->
          <input
            type="hidden"
            name="ediDate"
            value="<%= ediDate %>"
          /><!-- 전문 생성일시 -->
          <input
            type="hidden"
            name="encData"
            value="<%= encData %>"
          /><!-- 해쉬값 -->
        </form>
        <a
          href="#;"
          id="payBtn"
          class="btn_sty01 bg01"
          style="margin: 15px"
          onClick="doPaySubmit();"
          >결제하기</a
        >
      </div>
    </div>
  </body>
</html>
